.main{
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}
.main-head{
    display: flex;
    justify-content: space-between;
}
.btn{
    width: 150px;
        text-decoration: none;
        text-align: center;
        padding: 10px 10px;
        background-color: #F4CE14;
        border-radius: 12px;
        color: black;
        font-weight: 500;
}

.cards{
    margin-top: 40px;
}