.main{
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}


.main-head{
    display: flex;
    justify-content: space-between;
    font-weight: 400;
}
.menubtn{
    width: 150px;
    justify-content: center;
        text-decoration: none;
        text-align: center;
        padding: 10px 10px;
        background-color: #F4CE14;
        border-radius: 12px;
        color: black;
        font-weight: 500;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
    margin-top: 40px;
}

/* Card */
.card{
    border-radius: 16px 16px 0px 0px;
    width: 300px;
    height: 450px;
    background-color: #EDEFEE;
}
.card-img img{
    border-radius: 16px 16px 0px 0px;
    width: 100%;
    height: 200px;
}

.card-body{
    padding: 15px;
}
.title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.desc{
    color: #72827D;
    margin-bottom: 50px;
}

.price{
    color: #EEAC8E;
}

.card-body a{
    text-decoration: none;
    color: #434343;
    margin-bottom: 0px;
}

@media (max-width: 800px) {
    .main {
        width: 70vw;
        margin-top: 40px;
    }

    .main-head h1 {
        font-size: 30px;
    }

    .menubtn {
        width: auto;
        padding: auto;
        text-align: center;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        gap: auto;
        margin-top: 40px;
    }
        .card {
            width: 400px;
        }
}

@media (max-width: 880px){
    .main {
            width: 80vw;
            margin-top: 40px;
        }
    .cards {
        display: flex;
            flex-wrap: wrap;
            gap: 5px;
        }

        .card {
                    width: 330px;
                }
}

