nav{
    align-items: center;
    
}

.nav{
    display: flex;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

ul{
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    list-style: none;
}

ul li a{
    font-weight: 600;
    color: black;
    font-size: large;
    text-decoration: none;
}
.logo img{
    width: 300px;
}