nav{
    align-items: center;
    padding: 7px 0px;
}

.nav{
    display: flex;
    width: 70vw;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

ul{
    margin-left: 100px;
    display: flex;
    justify-content: space-around;
    gap: 40px;
    align-items: center;
    list-style: none;
}

ul li a{
    font-weight: 600;
    color: black;
    font-size: large;
    text-decoration: none;
}
.logo img{
    width: 220px;
}

.n-link {
    padding: 8px;
    /* line-height: 25px;
    height: 25px; */
    text-decoration: none;
    /* font-family: 'Red Rose';
    font-style: normal; */
    color: gray;
    /* margin: 15px; */
}

@media (max-width: 700px){
    .logo img {
            width: 150px;
        }

                .nav {
                    display: flex;
                    width: 90vw;
                    justify-content: space-between;
                    margin-left: auto;
                    margin-right: auto;
                }
}